<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container p-4">
        <h2 class="font-weight-bold mt-3"></h2>
        <hr>
                         
        
    </div>

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Password reset complete</h4>
        <p>Your password has been set. You may go ahead and log in now.</p>        <hr>
        <a href="{% url 'acces' %}" class="btn btn-primary">Connexion</a>
          </div>
</body>
</html>
