{% extends 'base/base.html' %}
{% load static %}


{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i> Listes des clients
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form method="get">
                     {{myFilter.form}}   <button class="btn btn-primary" type="submit">Recherche</button>
                </form>
            </div>
        </div>
    
    </div>
    <div class="card-body">
        <a href="{% url 'ajouter_client' %}" class="btn btn-primary btn-sm btn-block">Ajouter un nouveau client </a>
        <hr>

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénoms</th>
                        <th>Ville</th>
                        <th>Pays</th>
                        <th>Email</th>
                        <th>Mise à jour</th>
                        <th>Supprimer</th>
                        <th>Détails</th>

                        
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nom</th>
                        <th>Prénoms</th>
                        <th>Ville</th>
                        <th>Pays</th>
                        <th>Email</th>
                        <th>Mise à jour</th>
                        <th>Supprimer</th>
                        <th>Détails</th>

                        
                    </tr>
                </tfoot>
                <tbody>
                    {% for client in clients %}
                    <tr>
                        <td>{{client.nom}}</td>
                        <td>{{client.prenoms}}</td>
                        <td>{{client.ville}}</td>
                        <td>{{client.pays}}</td>
                        <td>{{client.email}}</td>

                        <td><a href="{% url 'modifier_client' client.id%}"><button class="btn btn-sm btn-info">Modifier</button> </a> </td>
                        <td><a href="{% url 'supprimer_client' client.id %}"><button class="btn btn-sm btn-danger">Supprimer</button></a> </td>
                        <td><a href="{% url 'client' client.slug %}"><button class="btn btn-sm btn-success">Afficher</button></a> </td>
                       
                      
                        

                    </tr>
                        
                    {% endfor %}
                        
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
    
