
{% extends "base/base.html" %} {% load static %} 
{% load crispy_forms_tags %}{% block content %}

<div class="container" >
    

     
            <form method="post" novalidate>
                {% csrf_token %}
                <div class="row">
                  <div class="col-6">
                    {{ form.nom|as_crispy_field }}
                  </div>
                  <div class="col-6">
                    {{ form.description|as_crispy_field }}
                  </div>
                  
                </div>

                <button type="submit" class="btn btn-success">Enregistrer</button>
                <a href="{% url 'liste_categorie' %}" class="btn btn-warning">Retour</a>

              </form>
</div>

</div>




{% endblock content %}

    